<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :meeting_with %><br>
      <%= f.select :user_name, User.all.map(&:name), { multiple: true, size: 5 }, {:include_blank => 'Default'}%>
    </div>
  </div>

  <div class = "row">
    <div class = "form-group col-md-12">
      <%= f.label :project %><br>
      <%= f.text_field :project, class: "form-control" %>
    </div>
  </div>

  <div class = "row">
    <div class = "form-group col-md-12">
      <%= f.label :start_time %><br>
      <%= f.text_field :start_time, class: "form-control time-pick" %>
    </div>
  </div>

  <div class = "row">
    <div class = "form-group col-md-12">
      <%= f.label :end_time %><br>
      <%= f.text_field :end_time, class: "form-control time-pick" %>
    </div>
  </div>

  <div class = "row">
    <div class = "form-group col-md-12">
      <%= f.label :room_number %><br>
      <%= f.select(:which_room, [["Room 1", 1], ["Room 2", 2], ["Room 3", 3], ["Red", "Red"], ["Orange", "Orange"], ["Yellow", "Yellow"], ["Green", "Green"], ["2E Room 1", 8], ["2E Room 2", 9]], class: "dropdown-toggle") %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>