<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">
    <br>
    <div class = "row">
      <div class = "form-group col-md-3">
        <%= f.label :project %><br>
        <%= f.text_field :project, class: "form-control" %>
      </div>
    </div>

    <div class= "time-pick-div">
      <p> <div class = "row">
        <div class = "form-group col-md-3">
          <%= f.label :start_time %><br>
          <%= f.text_field :start_time, class: "form-control time-pick" %>
        </div>
      </div></p>

      <div class = "row">
        <div class = "form-group col-md-3">
          <%= f.label :end_time %><br>
          <%= f.time_field :end_time, class: "form-control time-pick" %>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "form-group col-md-3">
        <%= f.label :room_number %><br>
        <%= f.select(:which_room, [["Room 1", 1], ["Room 2", 2], ["Room 3", 3], ["Red", "Red"], ["Orange", "Orange"], ["Yellow", "Yellow"], ["Green", "Green"]]) %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </form>
<% end %>

</body>
</html>