<h1>Room Reservations</h1>

<div class="table-responsive">
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Project</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Which room</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.user_id %></td>
          <td><%= reservation.project %></td>
          <td><%= reservation.start_time.strftime("%I:%M %p") %></td>
          <td><%= reservation.end_time.strftime("%I:%M %p") %></td>
          <td><%= reservation.which_room %></td>
          <td><%= link_to 'Show', reservation %></td>
          <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
          <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  

<br>

<%= link_to 'New Reservation', new_reservation_path, class: "btn btn-warning btn-sm" %>
